body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.searchInput {
    margin: 25px;
}

.alert {
    margin-left: 35%;
}

.card {
    margin-bottom: 50px;
    width: 70%;
    height: 80%;
}

.button-next {
    margin-left: 90%;
    margin-bottom: 5%
}
